
body{
    background-color: #C5C1C0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: white;
    width: 70%;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 10px 3px #0000008a;
    border-radius: 10px;
    overflow: hidden;
    max-width: 800px;
}

.sub-container{
    background-color: #F5F5F5;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px 3px #0000008a;
    border-radius: 10px;
}

.flex-container{
    display: flex;
    margin: auto;
    justify-content: center;
}

.choice{
    background-color: white;
    width: 25%;
    box-shadow: 5px 5px 10px 3px #0000008a;
    border-radius: 10px;
    margin: 10px;
}

button{
    background-color: #0068D9;
    color: white;
    width: 95%;
    border: 0;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}

input{
    width: 75%;
    border-radius: 6px;
    padding: 6px;
    margin: 10px;
}

.price{
    color: green;
}
.final-price{
    font-weight: bold;
    padding-top: 40px;
    font-size: 16px;
}

img {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 10px;
}

.quantity-container{
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
}

.output{
    text-align: left;
    padding: 26px;
    font-size: 14px;
}

.name{
    font-weight: bold;
    padding-bottom: 16px;
    font-size: 14px;
}